.App-footer{
    background-color: black;
    color: white;
    height: 100%;
    .tituloFooter{
        margin: 2rem 9.5rem 0rem 9.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem;
        .nameFooter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;
            .h5eslogan{
                font-family: 'JetBrains Mono', monospace;
                font-size: 1rem;
            }
        }
        .social{
            font-family: 'JetBrains Mono', monospace;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            .h4Redes{
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;
            }
            img{
                height: 3rem;
            }
        }
    }
}